<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='about.css')}}"
    />
</head>

<body>
    <img src="static/loan1.jpg"/>
<h1>personal loan</h1>
<p style="font-size:25px;">A loan is a sum of money that is borrowed and repaid over a period of time<br>A personal loan is a loan that does not require collateral or security and is
    offered with minimal documentation. You can use the funds from this loan for any
    legitimate financial need. Like any other loan, you must repay it accordance to the
    agreed terms with the bank.<br>	For example, you might use a personal loan to cover:<br>
1.	Moving expenses<br>
2.	Debt consolidation<br>
3.	Medical bills<br>
4.	Wedding expenses<br>
5.	Home renovations or repairs<br>
6.	Funeral costs<br>
7.	Vacation costs<br>
8.	Unexpected expenses</p>
<a style="font-size:500%;" href="/"><button onclick="Home">Home</button> </a>
</body>
</html>