<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='home.css')}}"
    />
    <title>Demo</title>
  </head>
  <body>
    <p style="font-size: 500%">
      going on loan<br />
      really benefits<br />you<br />&#128512; &#128151;
    </p>
    <a style="font-size: 320%" href="/about"
      ><button onclick="About">About</button> </a
    ><br />
    <a style="font-size: 320%" href="/predict"
      ><button onclick="predict">predict</button>
    </a>
  </body>
</html>
